.Toggle {
    border-bottom: 1px solid var(--light-gray);
    height: 4em;
    padding: 8px 0px;
    width: 100%;
}
.Toggle > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Wrapper {
    height: 100%;
    width: auto;
}


.Pit {
    background-color: var(--dark-gray);
    border: solid 1px var(--dark-gray);
    border-radius: 16px;
    cursor: pointer;
    height: 32px;
    transition: background-color 0.167s ease 0.167s, border-color 0.167s ease 0.167s;
    width: 64px;
}
.Pit.Active {
    background-color: var(--accent);
    border-color: var(--accent);
}



.Knob {
    background-color: var(--white);
    border: solid 1px var(--dark-gray);
    border-radius: 15px;
    height: 30px;
    left: -1px;
    position: absolute;
    top: -1px;
    transition: left 0.33s ease, border-color 0.167s ease 0.167s;
    width: 30px;
}
.Knob.Active {
    border-color: var(--accent);
    left: 33px;
}