.Context {
    height: calc(4em - 1px);
    position: absolute;
    top: 0px;
    transition: right 0.33s ease;
    width: 4em;
}

/* Positions */
.Edit {
    background-color: var(--secondary);
    color: var(--white);
    right: -4em;
}
.Edit.Active {
    right: 4em;
}
.Complete {
    background-color: var(--accent);
    color: var(--black);
    right: -8em;
}
.Complete.Active {
    right: 0em;
}