.Title {
    height: 33.33vh;
    width: auto;
}
.Wrapper {
    height: 100%;
    padding: 8px;
    width: 100%;
}
.Title > div {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Title span {
    background-color: var(--light-gray);
    bottom: 0px;
    height: 1px;
    left: 8px;
    position: absolute;
    right: 0px;
    top: auto;
}