.Bar {
    border-radius: 2px;
    height: 32px;
    width: 100%;
}
.Wrapper {
    height: 100%;
    padding: 0px;
    width: auto;
}
.Bar > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}