.Item {
    border-bottom: 1px solid var(--light-gray);
    height: 12.5vh;
    margin-right: -8px;
}
.Item > div {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Wrapper {
    height: 100%;
    padding: 8px 8px 8px 0px;
    width: auto;
}

.Active {
    background-color: var(--primary);
    color: var(--white);
}