.Detail {
    border-bottom: 1px solid var(--light-gray);
    height: auto;
    padding-top: 8px;
    width: auto;
}
.Detail > div {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Wrapper {
    height: 100%;
    width: auto;
}

.Detail label {
    position: absolute;
    right: 0px;
    top: 0px;
    visibility: hidden;
    z-index: -1;
}

/* Input */
.Detail textarea {
    background-color: var(--white);
    border: none;
    font-family: 'Montserrat', 'Arail', sans-serif;
    font-size: 1em;
    height: 8em;
    padding: 0px;
    resize: none;
}
.Detail textarea:focus {
    outline: none;
}