.Navigation {
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.Navigation > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}