.Title {
    height: 33.33vh;
    padding-bottom: 8px;
    width: auto;
}
.Title > div {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Wrapper {
    height: 100%;
    width: auto;
}

.Title label {
    position: absolute;
    right: 0px;
    top: 0px;
    visibility: hidden;
    z-index: -1;
}
.Title span {
    background-color: var(--light-gray);
    bottom: -8px;
    height: 1px;
    left: 0px;
    position: absolute;
    right: -8px;
    top: auto;
}

/* Input */
.Title input {
    border: none;
    font-size: 2em;
    font-weight: 900;
    padding: 0px;
}
.Title input:focus {
    outline: none;
}