.Action {
    background-color: var(--accent);
    border-radius: 24px;
    bottom: 8px;
    cursor: pointer;
    font-family: 'Chroma Dingbats';
    height: 48px;
    position: fixed;
    right: 8px;
    width: 48px;
}
.Action > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Wrapper {
    height: 100%;
    width: 100%;
}