/*  Fonts  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap');
@font-face {
  font-family: 'Chroma Dingbats';
  src: url('./fonts/Chroma_Dingbats.woff2') format('woff2'),
      url('./fonts/Chroma_Dingbats.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  font-family: 'Montserrat', 'Arial', sans-serif;
}

html:root {
  --primary: #4c3ae9;
  --secondary: #2a1b77;
  --accent: #e2f568;
  --dark-gray: #aaaaaa;
  --light-gray: #f0f0f0;
  --black: #282424;
  --white: #f8f8f8;
}

/* HTML reset */
html, body, header, main, aside, nav, footer, div, section, article, ul, ol
span, li, h1, h2, h3, h4, h5, h6, p, a, input, textarea, button, select, option {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
}